ul {
  text-decoration: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.active {
  text-decoration: underline;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 30px 50px 40px 50px;
  align-items: center;
}

h1 {
  margin-left: 20px;
  font-size: 25px;
}

.container-logo {
  display: flex;
  align-items: center;
}

.links-container {
  display: flex;
}

.links-container a {
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  letter-spacing: 1.9px;
  color: rgb(2, 144, 255);
}

.status-separator {
  width: 0.125rem;
  height: 1.37rem;
  margin: 0 1rem;
  border: solid 1px #e8e8e8;
}

.logo {
  margin: 20px;
  width: 40px;
}

.container-line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 23px 0 8px 0;
}

.header-line {
  height: 2px;
  width: 90%;
  border-radius: 10px;
  background: #dcdcdc;
}

@media screen and (min-width: 1000px) {
  header {
    flex-direction: row;
  }

  h1 {
    font-size: 40px;
    font-family: Montserrat, sans-serif;
  }

  .logo {
    width: 80px;
  }
}
